.missile_command {
  font-size: 12px;
  font-family: 'Armata Regular';
}

.missile_command_control {
  border-image:url(coui://ui/main/shared/img/panel/img_menu_panel.png) 14 22 22 22;
  border-width:14px 22px 22px 22px;
  box-shadow: inset 1000px 1000px 1000px 1000px #000;
  position: relative;
}

.missile_command_cont {
  border-image:url(coui://ui/main/shared/img/panel/img_menu_panel.png) 14 22 22 22;
  border-width:14px 22px 22px 22px;
  box-shadow: inset 1000px 1000px 1000px 1000px #000;
  margin:-13px 8px 0px 8px;
  position: relative;
}

.missile_command h3 {
  margin: 0;
  margin-bottom: -8px;
}

.missile_command_control .control_chevron_auto {
  position: absolute;
  right: 0;
  top: 4px;
}

.missile_command ul {
  margin-bottom: -16px;

  max-height: 80vh;
  overflow-y: auto;
  overflow-x: visible;
}

.missile_command li {
  position: relative;
  border: solid #111 1px;
  padding: 2px;
  margin-bottom: 4px;
}

.missile_command .missile_selected {
  background-color: #088;
  border-color: #0ff;
}

.missile_command_jump {
  position: absolute;
  right: 0;
  top: 0;
}

.missile_command_attack {
  position: absolute;
  top: 0;
  right: 16px;
  width: 40px;
  height: 20px;
  border: solid #444 1px;
}

.missile_command_attack:hover {
  background-color: #088;
  border-color: #0ff;
}

.missile_command_attack img {
  margin-left: 10px;
  width: 20px;
  height: 20px;
}

.missile_command_jump {
  border: solid black 1px;
}

.missile_command_jump:hover {
  background-color: #088;
  border-color: #0ff;
}
